<p>
Blockchain permissions determine who is allowed to write to the ledger.
Blockchain permissions fall into two general categories. Permissioned and
Permissionless. Permissioned blockchains only allow specific entities to
write to them. Permissionsless blockchains allow any entity to write to
them as long as they prove that they've expended a non-trivial amount of
energy to perform the write.
</p>

<p>
Select the desired permissions for your Blockchain below:
</p>

<md-radio-group ng-model="$ctrl.selected.tagFilter">
  <md-radio-button value="permissioned">Permissioned<br/>
    <span class="help">
A permissioned blockchain can only be written to by a select group of entities.
    </span>
  </md-radio-button>
  <md-radio-button value="permissionless">Permissionless<br/>
    <span class="help">
A permissionless blockchain is writable by anyone that can prove that they have
expended the appropriate amount of resources to do so.
    </span>
  </md-radio-button>
</md-radio-group>
